.card {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

p {
  margin: 2px;
}

.done {
  text-decoration: line-through;
}

.delete {
  border: none;
  background-color: white;
  position: fixed;
  right: 0;
  color: red;
}